/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #a78d7c98;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  /* Basic CSS for the form elements */
  body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
    background-image: url("travel.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
  }
  
  button {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Basic CSS for the report section */
  h2 {
    margin-top: 30px;
  }
  
  #report,#result {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
  }
#result{
  height: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
  #result img{
    width: 200px;
    height: 100px;
  }

  #credits {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: white;
  }
  
  #homepage-text {
    margin: 10% auto auto 15%;
    color: white;
  }
  #homepage-title {
    font-size: 70px;    
  }
  #intro {
    padding-top: 50px;
    font-size: 20px;
    width: 400px;
    overflow-wrap: normal;
  }
  #aboutus-text {
    margin: 10% auto auto 15%;
    color: white;
  }
  #aboutus-desc {
    margin-top: 50px;
    font-size: 20px;
    width: 900px;
    overflow-wrap: normal;
    background-color: rgba(51, 51, 51, 0.397);

  }

  #team {
    margin-top: 100px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;

  }
  .team-member{
    width: 20%;
    background-color: rgba(51, 51, 51, 0.514);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#title {
    background-color: #45a049;
    border-radius: 10px;
    padding: 5px;
}
#contact-container {
    display: flex;
}
.contact-text {
    color: white;
    
}